---
import MainLayout from "./MainLayout.astro";
import PostHeader from "../components/PostHeader.astro";

const {frontmatter} = Astro.props as any;

const {title, image, description, category, author, date} = frontmatter;
---

<MainLayout {title} {description}>
    <PostHeader {title} {image} {description} {category} {author} {date}/>

    <div class="post-content">
        <div class="content">
            <slot/>
        </div>
        <div class="sidebar"></div>
    </div>
</MainLayout>
